body {
    background-color: rgb(166, 228, 248);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.mensagem{
 text-align: center;
 border: 4px solid;
}

.mensagem-erro {
    color: white;
    border-color:rgb(132, 29, 29);
    border-radius: 5px;
    width: 250px;
    height: 100px;
    background-color: rgb(223, 75, 75);
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

}
